<div style="text-align: center">
  <!-- <h1>Hi Diwali</h1>
</div> --->
<!-- <h1>{{message}}</h1>
<app-test (childEvent)="message=$event"[ParentData]="firstName"></app-test>  -->
<h2 style="color: blue">Scenario1</h2>
<app-scenario1></app-scenario1><br>
<h2 style="color: blueviolet">Scenario2</h2>
<app-scenario2></app-scenario2>
<h2 style="color: blueviolet">Scenario3</h2>
<app-scenario3></app-scenario3>
<h2 style="color: blueviolet">Scenario4</h2>
<app-scenario4 (childEvent)="message=$event"></app-scenario4> 
<h2>{{message}}</h2>
<h2 style="color: blueviolet">Scenario5</h2>
<app-scenario5 (parentEvent)="email=$event"></app-scenario5>
{{email}} 
<h2 style="color: blueviolet">Scenario6</h2>
<app-scenario6 ></app-scenario6>
